:root {
    --primary-color: #545abe;
    --secondary-color: #ffffff;
    --secondary-variant: #f0f2f5;
    --on-primary-color: #ffffff;
    --background-color: #f0f2f5;
    --navbar-height: 10vh;
}

body {
    background: var(--background-color);
    padding-top: var(--navbar-height);
}
