.articles-filter {
    display: flex;
    margin: 1rem auto;
    width: 46rem;
    justify-content: space-between;
}

.articles-filter select {
    background: #242526 !important;
    border-radius: 15px;
    padding-inline: 1rem;
    color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
}