.article-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.article-buttons button {
    border-radius: 30px;
    padding-inline: 1.5rem;
    background: #3b3c3d;
    border: 0px;
    color: white;
}