.page {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.carousel {
    align-items: center;
    width: 35%;
    min-width: 500px;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 500px;
}

.card {
    background: linear-gradient(45deg, #656bcd, #545abe);
    backdrop-filter: blur(250px);
    width: 80%;
    color: white !important;
    animation: slide-up linear 0.5s;
}

@media (max-width: 500px) {
    .carousel {
        display: none;
    }
}

@keyframes slide-up {
    from {
        position: relative;
        bottom: -5%;
        opacity: 0;
    }
    to {
        position: relative;
        bottom: 0;
        opacity: 1;
    }
}