.page {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.leftColumn {
    align-items: center;
    width: 35%;
    min-width: 500px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 500px;
}

.card {
    background: #00000060;
    backdrop-filter: blur(250px);
    width: 80%;
    color: white !important;
}
