.my-card {
    background-color: #e3f2fd;
    margin: 1rem auto;
    width: fit-content;
    padding-inline: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}