.notification-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 49rem;
    height: fit-content;
    margin: 1rem auto;
}

.notification-filter__actions-button {
    background: #3a3b3c;
    border-radius: 50%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}

.notification-filter__actions-button:hover {
    background: #3a3b3c;
}

.notification-filter__actions-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.notification-filter select {
    border-radius: 30px;
    padding-inline: 1rem;
    background-color: #3a3b3c !important;
    color: white;
    border: none !important;
    outline: none !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}

.notification-filter__dropdown-menu-buttons {
    background-color: #3a3b3c;
}

.notification-filter__dropdown-menu-buttons button {
    color: white
}