.notification-actions {
    width: fit-content;
    height: fit-content;
}

.notification-actions__dropdown-button {
    background: #18191a;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}

.notification-actions__dropdown-button:hover {
    background: #18191a;
}

.notification-actions__dropdown-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.notification-actions__dropdown-menu {
    background: #18191a;
}

.notification-actions__dropdown-menu button {
    color: white;
}