.container {
    display: flex;
    width: 100%;
    align-self: center;
}

.editText {
    border-radius: 20px;
    border: none;
    padding: 8px 30px;
    flex: 1;
    outline: none;
    background-color: var(--secondary-variant);
}