#chat-container {
  display: grid;
  grid:
      'chat-title new-message-container' 55px
      'chat-message-list conversation-list' 1fr
      'chat-form conversation-list' 60px;
  grid-template-columns: 3fr 1fr;
  position: absolute;
  top: 9%; bottom: 0;
  background: #FFF;
  min-width: 100%;
}